body {
    background-color: #f2f2f2;
    background: url('https://learnlearn.in/noise.png') repeat scroll top #f2f2f2;
    color: #212121;
    font: 1em Manjari, "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
@media(min-width: 40em) {
    body{
        grid-template-columns: auto auto;
        grid-template-rows: 50vh 50vh;
        grid-gap: 2em;
        grid-template-areas:
        "header main"
        "footer main"
        ;
    }
}

article {
    font-size: 1.5em;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    max-width: 40em;
}

pre, code {
    overflow-x: auto;
    white-space: pre-wrap;

}

footer {
    grid-area: footer;
    margin: auto;
}


header h1 {
    margin-bottom: 0;
    line-height: 3em;
}

header {
    text-align: center;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


articles > ul {
    padding-left: 5px;
}

articles > ul  li.post {
    list-style-type: none;
    line-height: 1.75em;
    padding-bottom: 20px;
}

articles > ul > a {
    color: black;
}

articles > ul > a:visited {
    color: grey;
}

articles span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

@media (min-width: 1070px) {
    .title a {
        font-size: 400%;
    }
}

body a {
    text-decoration: none;
}

header a {
    font-weight: bold;
    text-decoration: none;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

header a.extra {
    color: #aaa;
    margin-left: 1em;
}

header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

.meta a {
    color: #77a;
}

article a {
    text-decoration: none;
}

article pre {
    border: 1px solid #ddd;
    padding: 0 .4em;
}

article ul, article ol {
    margin-left: 0.25em;
}

article code {
    border: 1px solid #ddd;
    padding: 0 .2em;
}

article pre code {
    border: none;
}

/* terminal */
article pre {
    border: 1px solid #000;
    overflow-x: auto;
}

/* posts on homepage */

.post {
    padding: 20px;
    border-radius: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px dotted #999;
    margin: 10px 0;
}

.linkButton {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
}

.youtube-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.youtube-embed iframe, .youtube-embed object, .youtube-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

