{{ define "main" }}

<article class="post-article pb-4">
    {{ partial "back_link.html" . }}

    <div class="post-meta">
        <span class="meta-date">
            <time datetime="{{ .Date }}">{{ .Date | time.Format site.Params.theme_config.date_format }}</time>
        </span>
        {{ if .ReadingTime }}
        <span class="meta-reading">{{ .ReadingTime }} min read</span>
        {{ end }}
        {{ if .GetTerms "tags" }}
        <span class="meta-tags">
            {{ range .GetTerms "tags" }}
            <a href="{{ .RelPermalink }}" class="tag">{{ .LinkTitle }}</a>
            {{ end }}
        </span>
        {{ end }}
    </div>

    <h1 class="post-title">{{ .Title }}</h1>

    {{ if .Params.toc }}
    <aside class="toc">
        {{ .TableOfContents }}
    </aside>
    {{ end }}

    {{ .Content }}
</article>

<div class="post-footer pb-4">
    <p>Subscribe to my <a href="https://blog.learnlearn.in/newsletter/">newsletter</a> where I send new links from all my blogs and curated links related to society, politics, etc.</p>
    <p>Or find <a href="/follow/">other ways to follow me</a></p>
</div>

{{ end }}
