{{ define "main" }}

<article class="pb-4">
    <h1>{{ .Title }}</h1>
    🗄️ {{ range $k, $v := .GetTerms "tags" }} {{- if $k }}, {{ end }}
    <a
        href="{{ .RelPermalink }}"
        class="link f5 grow br-pill ba ph3 pv2 mb2 dib black sans-serif no-underline"
    >
        {{- .LinkTitle -}}
    </a>
    {{- end }} {{ if .Params.toc }}
    <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
        {{ .TableOfContents }}
    </aside>
    {{ end }} {{ .Content }}
</article>
<hr />
<div class="pb-4">
    <p>Subscribe to my <a href="https://blog.learnlearn.in/newsletter/">newsletter</a> where I send new links from all my blogs and curated links related to society, politics, etc.</p>
    <p>Or find <a href="/follow/">other ways to follow me</a></p>

</div>
{{ end }}
