---
layout: default
---
<article>
<h2><a class="permalink" href="{{ page.url }}">{{ page.title }}</a></h2>
<p class="meta">posted on {{ page.date | date: "%a, %b %d '%y" }} under tag{% if page.tags.size > 1 %}s{% endif %}:
  {% for tag in page.tags %}
  <a href="/tag/{{tag}}">{{tag}}</a>{% if forloop.last != true %}, {% endif %}
  {% endfor %}
</p>
{{ content }}
{% if page.link %}
<a href="{{ page.link }}" class="linkButton">Read the linked post</a><br><br>
{% endif %}
</article>
<hr>
<aside class="postFooter">
{% if page.next %}
Newer post: <a href="{{ page.next.url }}" class="newerPostLink">{{ page.next.title }}</a> (press 'k')<br>
{% endif %}
{% if page.previous %}
Older post: <a href="{{ page.previous.url }}" class="olderPostLink">{{ page.previous.title }}</a> (press 'j')
{% endif %}
<h4>Like what you are reading? <a href="/follow">Subscribe</a>!</h4>
</aside>
